ul {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 10px;
    justify-content: center;
    margin: 0;
    padding: 0;
}
li,a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    background-color: #03AED2;
    padding: 15px;
}

.kiri {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
}

.kiri > h1 {
    color: #24252a;
    font-size: 30px;
}

section {
    display: flex;
}
.kanan > img {
    display: flex;
    height: 300px;
    
}
.kanan {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer {
    background-color: #4D869C;
    color: #fff;
    padding: 20px;
}
footer {
    text-align: center;
    width: 100%;
    margin-top: 100px;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }